@tailwind base;
@tailwind components;
@tailwind utilities;

.loader1 {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pie {

    float: right;
    height: 70px;
    width: 70px;
    border-radius: 70%;
    justify-content: center;
    background: conic-gradient(
            #2C5F2DFF 10% 20%,
            #1C1C1BFF 0 20%,
            #FFFFFF 100%
    );
}

.pie-2 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 70%;
    background: conic-gradient(
            #2C5F2DFF 0% 40%,
            #1C1C1BFF 20% 40%,
                /*deepskyblue 0% 45%,*/
                /*orangered 25% 85%,*/
            #FFFFFF 100%
    );
}

.pie-3 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background: conic-gradient(
            darkgreen 0% 60%,
            #1C1C1BFF 20% 60%,
                /*deepskyblue 0% 45%,*/
                /*orangered 25% 85%,*/
            #FFFFFF 100%
    );
}

.pie-4 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background: conic-gradient(
            darkorange 0% 80%,
            /*yellow 20% 40%,*/
                /*deepskyblue 0% 45%,*/
            #1C1C1BFF 0% 80%,
            #FFFFFF 99%
    );
}

.pie-5 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background: conic-gradient(
        /*lawngreen 0% 20%,*/
        /*yellow 20% 40%,*/
        /*deepskyblue 0% 45%,*/
            red 10% 99%,
            #4B878BFF 10% 99%,
            #FFFFFF 100%
    );
}

.pie.hollow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie.hollow::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.pie.hollow span {
    font-size: 24pt;
    z-index: 2;
    font-weight: bold;
    font-family: "JetBrains Mono", sans-serif ;
}

.temporary-bounce {
    -webkit-animation-iteration-count: 10;
    animation-iteration-count: 10;
}


 /*Barchart*/

#q-graph {
    display: block; /* fixes layout wonkiness in FF1.5 */
    position: relative;
    width: 600px;
    height: 300px;
    margin: 1.1em 0 0;
    padding: 0;
    background: transparent;
    font-size: 11px;
}

#q-graph caption {
    caption-side: top;
    width: 600px;
    text-transform: uppercase;
    letter-spacing: .5px;
    top: -40px;
    position: relative;
    z-index: 10;
    font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 0;
    width: 150px;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}

#q-graph td {
    transition: all .3s ease;

    &:hover {
        background-color: #ff7a00;
        opacity: .9;
        color: white;
    }
}

#q-graph thead tr {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -2.5em 0 0 5em;}
#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}
#q-graph thead th.sent {
    top: 0;
    left: 0;
    line-height: 2;
}
#q-graph thead th.paid {
    top: 2.75em;
    line-height: 2;
    left: 0;
}

#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 1px dotted #C4C4C4;
    color: #AAA;
}
#q-graph #q1 {
    left: 0;
}
#q-graph #q2 {left: 150px;}
#q-graph #q3 {left: 300px;}
#q-graph #q4 {left: 450px; border-right: none;}
#q-graph tbody th {bottom: -1.75em; vertical-align: top;
    font-weight: normal; color: #333;}
#q-graph .bar {
    width: 60px;
    border: 1px solid;
    border-bottom: none;
    color: #000;
}
#q-graph .bar p {
    margin: 5px 0 0;
    padding: 0;
    opacity: .4;
}
#q-graph .sent {
    left: 13px;
    background-color: #35ca9b;
    border-color: transparent;
}
#q-graph .paid {
    left: 77px;
    background-color: #006aff;
    border-color: transparent;
}


#ticks {
    position: relative;
    top: -300px;
    left: 2px;
    width: 596px;
    height: 300px;
    z-index: 1;
    margin-bottom: -300px;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
    position: relative;
    border-bottom: 1px dotted #C4C4C4;
    width: 600px;
}

#ticks .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em;
}

/*Barchart over*/

/*Pie Charts*/
:root {
    --red: #F15854;
    --gray: #4D4D4D;
    --blue: #5DA5DA;
    --yellow: #DECF3F;
    --purple: #B276B2;
    --orange: #FAA43A;
    }
/*// colors from http://www.mulinblog.com/a-color-palette-optimized-for-data-visualization/*/

                      .chart {
                          background:
                                  conic-gradient(var(--red) 4%,
                                  var(--gray)0 8%,
                                  var(--blue)0 17%,
                                  var(--yellow) 0 48%,
                                  var(--purple) 0 54%,
                                  var(--orange) 0
                                  );
                          border-radius: 50%;
                          width: 50%;
                          height: 0;
                          padding-top: 50%;
                          float: left;
                          padding-right: 20px;
                      }

.key {
    width: 50%;
    float: right;
    list-style: none;
    display: table;
    border-collapse: separate;
    > li {
        display: table-row;
        > * {
            display: table-cell;
            border-bottom: 12px solid white;
        }
    }
}

.percent {
    color: white;
    padding: 10px 2px;
    text-shadow: 0 0 1px black;
    text-align: center;
}
.choice {
    padding-left: 10px;
}

.red {
    background: red;
}
.gray {
    background: gray;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}
.purple {
    background: purple;
}
.orange {
    background: orange;
}

* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: sans-serif;
}

.parent {
    margin: 1rem;
    text-align: left;
}
.child {
    display: inline-block;
    vertical-align: middle;
}


/*Pie charts over*/

/*emt11 {*/
/*    font-family: "Bauhaus 93";*/
/*    color: chartreuse;*/
/*}*/

/*body {*/
/*    background-color: powderblue;*/
/*}*/
/*h1 {*/
/*    color: blue;*/
/*}*/
/*p {*/
/*    color: red;*/
/*}*/


/*.pie-3 {*/
/*    position: relative;*/
/*    float: right;*/
/*    height: 70px;*/
/*    width: 70px;*/
/*    border-radius: 60%;*/
/*    background: conic-gradient(*/
/*        !*lawngreen 0% 20%,*!*/
/*            purple 20% 50%,*/
/*                !*deepskyblue 0% 45%,*!*/
/*                !*orangered 25% 85%,*!*/
/*            #FFFFFF 99%*/
/*    );*/
/*}*/



/*.custom-gradient {*/
/*    background-image: linear-gradient(to right, #f06, #9f6);*/
/*}*/