.loader1 {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pie {

    float: right;
    height: 70px;
    width: 70px;
    border-radius: 70%;
    justify-content: center;
    background: conic-gradient(
            #2C5F2DFF 10% 20%,
            #1C1C1BFF 0 20%,
            #FFFFFF 100%
    );
}

.pie-2 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 70%;
    background: conic-gradient(
            #2C5F2DFF 0% 40%,
            #1C1C1BFF 20% 40%,
                /*deepskyblue 0% 45%,*/
                /*orangered 25% 85%,*/
            #FFFFFF 100%
    );
}

.pie-3 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background: conic-gradient(
            darkgreen 0% 60%,
            #1C1C1BFF 20% 60%,
                /*deepskyblue 0% 45%,*/
                /*orangered 25% 85%,*/
            #FFFFFF 100%
    );
}

.pie-4 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background: conic-gradient(
            darkorange 0% 80%,
            /*yellow 20% 40%,*/
                /*deepskyblue 0% 45%,*/
            #1C1C1BFF 0% 80%,
            #FFFFFF 99%
    );
}

.pie-5 {
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background: conic-gradient(
        /*lawngreen 0% 20%,*/
        /*yellow 20% 40%,*/
        /*deepskyblue 0% 45%,*/
            red 10% 99%,
            #4B878BFF 10% 99%,
            #FFFFFF 100%
    );
}

.pie.hollow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie.hollow::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.pie.hollow span {
    font-size: 24pt;
    z-index: 2;
    font-weight: bold;
    font-family: "JetBrains Mono", sans-serif ;
}

.temporary-bounce {
    -webkit-animation-iteration-count: 10;
    animation-iteration-count: 10;
}

/*emt11 {*/
/*    font-family: "Bauhaus 93";*/
/*    color: chartreuse;*/
/*}*/

/*body {*/
/*    background-color: powderblue;*/
/*}*/
/*h1 {*/
/*    color: blue;*/
/*}*/
/*p {*/
/*    color: red;*/
/*}*/


/*.pie-3 {*/
/*    position: relative;*/
/*    float: right;*/
/*    height: 70px;*/
/*    width: 70px;*/
/*    border-radius: 60%;*/
/*    background: conic-gradient(*/
/*        !*lawngreen 0% 20%,*!*/
/*            purple 20% 50%,*/
/*                !*deepskyblue 0% 45%,*!*/
/*                !*orangered 25% 85%,*!*/
/*            #FFFFFF 99%*/
/*    );*/
/*}*/
