@tailwind base;
@tailwind components;
@tailwind utilities;

.temporary-bounce {
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}