{{> menu active="about"}}

<section class="section">
    <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white md:text-5xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Lifecycle Stages </span> </h2>
</section>
<hr class="h-px my-8 mt-5 mb-5 bg-gray-200 border-0 dark:bg-gray-700">

<div id="serverLifecycleStages">
    <h2 class="text-4xl font-extrabold dark:text-white">Stage 1</h2>
    <p class="mb-3 text-lg text-gray-500 dark:text-gray-400">New deploy, full support 0-3 years</p>
    <h2 class="text-4xl font-extrabold dark:text-white">Stage 2</h2>
    <p class="mb-3 text-lg text-gray-500 dark:text-gray-400">Review support to run it on optimal performance 3-5 years</p>
    <h2 class="text-4xl font-extrabold dark:text-white">Stage 3</h2>
    <p class="mb-3 text-lg text-gray-500 dark:text-gray-400">End of <a href="https://en.wikipedia.org/wiki/Original_equipment_manufacturer" class="font-medium text-blue-600 underline dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:no-underline">OEM (Original equipment manufacturer)</a> warranty 5-7 years</p>
    <h2 class="text-4xl font-extrabold dark:text-white">Stage 4</h2>
    <p class="mb-3 text-lg text-gray-500 dark:text-gray-400">Device becomes legacy 7-10 years</p>
    <h2 class="text-4xl font-extrabold dark:text-white">Stage 5</h2>
    <p class="mb-3 text-lg text-gray-500 dark:text-gray-400">End of life 10++ years</p>
</div>


<!--Barchart-->

<table id="q-graph">
  <caption>Quarterly Results</caption>
  <thead>
  <tr>
    <th></th>
    <th class="sent">Invoiced</th>
    <th class="paid">Collected</th>
  </tr>
  </thead>
  <tbody>
  <tr class="qtr" id="q1">
    <th scope="row">Q1</th>
    <td class="sent bar" style="height: 111px;"><p>$18,450.00</p></td>
    <td class="paid bar" style="height: 99px;"><p>$16,500.00</p></td>
  </tr>
  <tr class="qtr" id="q2">
    <th scope="row">Q2</th>
    <td class="sent bar" style="height: 206px;"><p>$34,340.72</p></td>
    <td class="paid bar" style="height: 194px;"><p>$32,340.72</p></td>
  </tr>
  <tr class="qtr" id="q3">
    <th scope="row">Q3</th>
    <td class="sent bar" style="height: 259px;"><p>$43,145.52</p></td>
    <td class="paid bar" style="height: 193px;"><p>$32,225.52</p></td>
  </tr>
  <tr class="qtr" id="q4">
    <th scope="row">Q4</th>
    <td class="sent bar" style="height: 110px;"><p>$18,415.96</p></td>
    <td class="paid bar" style="height: 195px;"><p>$32,425.00</p></td>
  </tr>
  </tbody>
</table>

<div id="ticks">
  <div class="tick" style="height: 59px;"><p>$50,000</p></div>
  <div class="tick" style="height: 59px;"><p>$40,000</p></div>
  <div class="tick" style="height: 59px;"><p>$30,000</p></div>
  <div class="tick" style="height: 59px;"><p>$20,000</p></div>
  <div class="tick" style="height: 59px;"><p>$10,000</p></div>
</div>

<!--PieChart-->


<!--<div class="chart"></div>-->

<!--<ul class="key">-->
<!--  <li>-->
<!--    <strong class="percent red">4%</strong>-->
<!--    <span class="choice">Jump right in, startupfille here I come.</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <strong class="percent gray">4%</strong>-->
<!--    <span class="choice">Email back to discuss, flattered and positive.</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <strong class="percent purple">6%</strong>-->
<!--    <span class="choice">Respond and say "Thanks but no thanks."</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <strong class="percent blue">9%</strong>-->
<!--    <span class="choice">Email back to discuss, all business.</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <strong class="percent yellow">31%</strong>-->
<!--    <span class="choice">Email back to discuss, but skeptically.</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <strong class="percent orange">46%</strong>-->
<!--    <span class="choice">Delete the email.</span>-->
<!--  </li>-->
<!--</ul>-->



<div class="pie"></div>

<div class="pie hollow"></div>

<div class="pie hollow"><span>12</span></div>

<hr class="h-px my-8 mt-20 mb-20 bg-gray-200 border-0 dark:bg-gray-700">

{{> footer}}