{{> menu active="archive"}}

<section class="section">
    <!--    List of Servers section-->
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            List of Archives </h2>
    </div>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{company}} Data Center Server list.</p>

    {{> list-archives}}
</section>


{{> footer}}