{{> menu active="archive"}}

<section class="section">
    <!--    List of Servers section-->
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            List of Archives </h2>
    </div>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{company}} Data Center Server list.</p>
    <div class="pt-5 grid grid-cols-3 auto-rows-auto gap-4 h-5/6 w-15 mx-1 mt-5">
        {{> list-archives}}
    </div>
</section>


{{> footer}}