{{> menu active="dashboard"}}

<section class="section">
    {{> add-server}}

<!--    List of Servers section-->
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            List of Servers </h2>
    </div>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{company}} Data Center Server list.</p>
    <!--    search bar -->
    {{>search-server}}
<!--    part of list servers-->

    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <form>
    <div class="right-0">
        <i class="fa-solid fa-filter"> Filter </i>
        <select id="filterAlphabetic" name="filterAlphabetic" class="pl-2 border border-slate-300 rounded-md text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option selected>Filtering</option>
            <option value="filterAlphabetic">Alphabetic order{{filterAlphabetic}}</option>
            <option value="filterCab">Order by CABS</option>
        </select>
        <button>Submit</button>
    </div>
    </form>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    {{> list-servers}}
</section>


{{> footer}}

