{{> menu active="dashboard"}}

{{> hero }}
<section class="section">
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            Provision a Server </h2>
    </div>
<!--    {{> tabs }}-->

    {{> add-server}}

<!--    List of Servers section-->
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            List of Servers </h2>
    </div>

    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{company}} Data Center Server list.</p>

    <div class="flex justify-between items-start">
        <div class="px-2 py-2 w-7/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white">
            {{>search-server-form}}
        </div>
        <div class="items-end">
            {{> server-filter }}
        </div>
    </div>

    {{>search-server-results}}

    <!-- list servers-->
<!--    <div class="flex items-stretch pt-5 text-gray-500">-->
    <div class="pt-5 grid grid-cols-3 auto-rows-auto gap-4 h-5/6 w-15 mx-1 mt-5">
    {{> list-servers}}

    </div>
</section>


{{> footer}}

