{{> menu2 active="dashboard"}}

{{> hero }}
<section class="section">
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            Provision a Server </h2>
    </div>
    {{> add-server}}

<!--    List of Servers section-->
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="title">
        <h2 class="text-blue-600">
            <i class="fa-solid fa-server"></i>
            List of Servers </h2>
    </div>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{company}} Data Center Server list.</p>

    <!--    search bar -->
    {{>search-server-form}}
    {{>search-server-results}}
<!--    search results end -->
    <!--    Filter is in list-servers partial    -->
    {{> list-servers}}
</section>


{{> footer}}

