{{> menu active="dependency"}}

<section class="section">
    <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white md:text-5xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Dependency tree </span> </h2>
</section>
<p class="text-pink-400 text-2xl"> This Section is still under development! </p>
{{> list-dependencies }}
<hr class="h-px my-8 mt-5 mb-5 bg-gray-200 border-0 dark:bg-gray-700">

{{> footer }}