{{> menu}}

<form class="box" action="/server/{{server._id}}/updateservercost" method="POST">
    <label>Update server {{server.title}} maintenance cost:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="number" name="maintenancecost" placeholder="Server cost" value="{{server.maintenancecost}}">
            </div>
        </div>
    </div>
    <button class="button is-primary is-fullwidth">Update Maintenance Cost</button>
</form>