{{> menu}}

<form class="box" action="/server/{{server._id}}/updateservermaas" method="POST">
    <label>Update server {{server.title}} maas:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <select id="maas" type="boolean" name="maas" class="pl-2 border border-slate-300 rounded-md text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="{{server.maas}}">IaaS Used?</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
    </div>
    <button class="button is-primary is-fullwidth">Update Maas</button>
</form>