<!--Form Beginning -->
<form action="/dashboard/addserver" method="POST">

<!--   new server form  using tailwind css -->
    <div class="grid grid-cols-3 gap-4 dark:bg-gray-900">
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Server Name</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="servername"><i class="fas fa-server text-gray-500"></i></label>
                <input
                        type="text"
                        id="title"
                        name="title"
                        placeholder="Server Name"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Server Tag</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="tag"><i class="fa-solid fa-tag text-gray-500"></i></label>
                <input
                        type="text"
                        id="tag"
                        name="tag"
                        placeholder="Server Tag"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cab Number</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="cab"><i class="fa-brands fa-codepen text gray-500"></i></label>

                <input
                        type="number"
                        id="cab"
                        name="cab"
                        placeholder="Cab Number"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Operating System</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="os"><i class="fas fa-desktop text-gray-500"></i></label>
                <input
                        type="text"
                        id="os"
                        name="os"
                        placeholder="Operating System"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Idrac IP</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="idrac"><i class="fa-solid fa-globe text-gray-500"></i></label>
                <input
                        type="text"
                        id="idrac"
                        name="idrac"
                        placeholder="Idrac Ipv4 Address"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Network Cards</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="nwcard"><i class="fa-solid fa-network-wired text-gray-500"></i></label>
                <input
                        type="text"
                        id="nwcard"
                        name="nwcard"
                        placeholder="Network Cards"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Backup</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="backupTo"><i class="fas fa-server text-gray-500"></i></label>
                <input
                        type="text"
                        id="backupTo"
                        name="backupTo"
                        placeholder="Backup"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Monitoring</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="monitoredWith"><i class="fas fa-desktop text-gray-500"></i></label>
                <input
                        type="text"
                        id="monitoredWith"
                        name="monitoredWith"
                        placeholder="Monitoring"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Support Until</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="support"><i class="fa-solid fa-phone text-gray-500"></i></label>
                <input
                        type="date"
                        id="support"
                        name="support"
                        placeholder="Support"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Virtualization Technology</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="virtualization"><i class="fa-solid fa-v text-gray-500"></i></label>
                <input
                        type="text"
                        id="virtualization"
                        name="virtualization"
                        placeholder="Virtualization"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Service</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="service"><i class="fa-brands fa-servicestack text-gray-500"></i></label>
                <input
                        type="text"
                        id="service"
                        name="service"
                        placeholder="Service"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Bios Version</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="bios"><i class="fa-solid fa-microchip text-gray-500"></i></label>
                <input
                        type="text"
                        id="bios"
                        name="bios"
                        placeholder="Bios Version"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Firmware Version</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="firmware"><i class="fa-solid fa-microchip text-gray-500"></i></label>
                <input
                        type="text"
                        id="firmware"
                        name="firmware"
                        placeholder="Firmware version"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Infrastructure as a Service</label>
            <select id="iaas" name="iaas" class="pl-2 border border-slate-300 focus:outline-0 rounded-md text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-700 dark:text-white">
                <option selected>IaaS Used?</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Cost in €</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="cost"><i class="fa-solid fa-euro-sign text-gray-500"></i></label>
                <input
                        type="number"
                        id="cost"
                        name="cost"
                        placeholder="Cost in Euro"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Purchase Date</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="pdate"><i class="fa-solid fa-cart-shopping text-gray-500"></i></label>
                <input
                        type="date"
                        id="pdate"
                        name="pdate"
                        placeholder="Purchase Date"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>
        <div>
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Server Model</label>
            <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
                <label for="model"><i class="fa-solid fa-copyright text-gray-500"></i></label>
                <input
                        type="text"
                        id="model"
                        name="model"
                        placeholder="Model"
                        class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
            </div>
        </div>

    </div>
    <div>
        <label for="desc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Description</label>
        <div class="pl-2 border border-slate-300 rounded-md dark:bg-slate-700">
            <label for="desc"><i class="fa-solid fa-info text-gray-500"></i></label>
            <input
                    type="text"
                    id="desc"
                    name="desc"
                    placeholder="Description"
                    class="px-2 py-2 w-11/12 border-0 focus:outline-0 text-gray-900 dark:bg-slate-700 dark:text-white"/>
        </div>
    </div>
    <br>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Add Server
    </button>
</form>
