<form class="box" action="/server/{{server._id}}/addservice" method="POST">
    <label>Enter Service Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Name of Service" name="title">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="OS Name" name="os">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Description" name="desc">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Name of Monitoring" name="monitored">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Name of Backup technology" name="backups">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Syslog Server" name="syslog">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Login with" name="login">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Service</button>
</form>