<form class="box" action="/server/{{server._id}}/addmachine" method="POST">
    <label>Enter Machine Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Enter Title" name="title">
            </div>
            <div class="field">
                <input class="input" type="number" placeholder="Enter Cab number" name="cab">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Idrac" name="idrac">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Bios Version" name="bios">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Firmware Version" name="firmware">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Machine</button>
</form>