<form class="box" action="/server/{{server._id}}/addmachine" method="POST">
    <label>Enter Machine Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Enter Title" name="title">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Description" name="artist">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter ipv4" name="duration">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Machine</button>
</form>