<form action="/dashboard/addservers" method="POST">
    <div class="field">
        <label class="label">Server Title</label> <input class="input" type="text" placeholder="Enter server title" name="title">
    </div>
    <button class="button is-link">Add Server</button>
</form>