<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Machine</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each server.machines}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{description}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>