
<table class="table is-fullwidth w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr class="bg-white border-b dark:bg-gray-300 dark:border-gray-200">
        <th scope="col" class="px-2 py-3 dark:text-gray-200">First Name </th>
        <th scope="col" class="px-2 py-3 dark:text-gray-200">SureName</th>
        <th scope="col" class="px-2 py-3 dark:text-gray-200">Privilege</th>
        <th scope="col" class="px-2 py-3 dark:text-gray-200">Remove</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td>
                {{firstName}}
            </td>
            <td>
                {{lastName}}
            </td>
            <td>
                N/A
            </td>
            <td>
                <a href="/users/confirmdeleteuser/{{_id}}" class="text-red-700 hover:text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-m px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    <i class="fas fa-trash fa-sm"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<form action="/users/adduserview" method="GET">
    <button class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Add user</button>
</form>
