{{#each servers}}
    <div class="box box-link-hover-shadow">
        <h2 class="title">
            {{title}}
            - more details will be added here also
        </h2>
        <a href="/server/{{_id}}" calss="button">
            <i class="fa-solid fa-server fa-2xl"></i>
        </a>
        // I will add a graphical screen here on card how long the server is going and dates
    </div>
{{/each}}