<section>
<div class="title p-3 is-flex bg-white dark:bg-gray-900">
    <i style="font-size: 48px; color: Dodgerblue;" class="fa-solid fa-arrows-spin tracking-widest"></i>
    <h2 class="text-3xl mt-2 font-bold dark:text-white tracking-tighter">Server Lifecycle Manager</h2>
</div>
</section>