<section>
<div class="title p-3 is-flex">
    <i style="font-size: 48px; color: Dodgerblue;" class="fa-solid fa-arrows-spin"></i>
    <div class="ml-4">Server Lifecycle Manager</div>
</div>
</section>