<!-- server-filter -->
<form class="max-w-sm mt-5" action="/dashboard/filterserver" method="GET">
    <label for="countries" class="block mb-2 text-sm font-medium text-blue-700 dark:text-white"><i class="fa-solid fa-arrow-up-wide-short"></i> Select an option for Filtering</label>
    <select name="orderBy" id="countries" class="bg-gray-50 border border-1 focus:outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" onchange="this.form.submit()">
        <option value="">None</option>
        <option value="normal">Original View</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
        <option value="cabnum">Order by Cab Numbers</option>
    </select>
</form>