<!DOCTYPE html>
<html lang="en-IE">
<head>
    <meta charset="utf-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel=”stylesheet” href="/public/css/tailwind.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" ${darkModeClass}>
    <!-- Include the Tailwind JS file -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
  <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/Chart.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>-->
<!--    <script type="module" src="/src/utils/chart1.js"></script>-->
</head>
<body>
<!--<div class="container">-->
<!--  <div style="width: 800px;">-->
<!--    <canvas id="myChart"></canvas>-->
<!--  </div>-->
<!--</div>-->
<div class="bg-white dark:bg-gray-900 px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    {{#if errors}}
        {{> error }}
    {{else}}
        {{{content}}}
    {{/if}}

</div>
</body>
</html>